DB_HOST=localhost
DB_PORT=3306
DB_NAME=sakila
DB_USERNAME=root
DB_PASSWORD=
DB_SSL=false
DB_TIMEZONE=UTC

EUREKA_SERVER=http://localhost:8761/eureka/

JWT_SECRET=SakilaSecretKeyForJWTAuthSystemMicroservicesProfessionalCode2026
JWT_EXPIRATION=86400000